.rezerwacja-content
{
    padding: 15px;
}
.rezerwacja-content .col-md-4
{
    
}
.rezerwacja-title
{
    padding: 10px 15px;
    color: #fff;
    background: #000;
    font-family: 'SpriteGrafiti';
}