{ "Version" : 1 , "mysql_server" : { "character_set_client" : { "Value" : "utf8" , "Metadata" : { "Timestamp" : 1546793122112439 , "User" : "root" , "Host" : "" } } , "character_set_server" : { "Value" : "utf8" , "Metadata" : { "Timestamp" : 1546793191248961 , "User" : "root" , "Host" : "" } } , "character_set_connection" : { "Value" : "utf8" , "Metadata" : { "Timestamp" : 1546793566199018 , "User" : "root" , "Host" : "" } } } }